*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container1{
  display: flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  text-decoration: none;
  transition: all 0.5s;
}
.link:hover{
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
  text-decoration: none;
}
.ablogo{
  width: 130px;
  height: 150px;
}
.dashb{
  background-color: rgb(230,230,231);
}
.productPG{
  display: flex;
}
#counter{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e7;
  padding: 40px 0px;
  width: 100%;
}
#counter .item{
  background: #fff;
  width: 200px;
  padding: 35px 40px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
} 
#counter .item .count{
  color: #e8b12d;
  margin-bottom: 5px;
  font-size: 40px;
}
#counter .item h3{
  color: #4f4e28;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;

}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}
#editprof:hover{
  color: cyan;
}
#editprof{
  text-decoration: none;
  color: white;
}