.dmain{
	margin-top: 2%;
	width: 550px;
	height: 650px;
	background: #494d5f;
	overflow: hidden;
	/*background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; */
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.comp{
	display: flex;
	justify-content: center;
	align-items: center;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.lab1{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.emailReg{
	width: 60%;
	height: 25px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 5px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.but{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.but:hover{
	background: #6d44b8;
}
.login{
	height: 560px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-160px);
	transition: .8s ease-in-out;
}
.login lab1{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-650px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.inputs{
    margin-top: 20px;
}

.error-msg {
    color: #cc0000;
    margin-bottom: 12px;
	margin-left: 50px;
  }

  #selectReg{
	width: 60%;
	justify-content: center;
	margin: 5px auto;
	border-radius: 5px;
	background: #e0dede;
  }